---
layout: default
---

{% if page.white_menu %}
 {% if page.header_style == 'two' %}
   {% include header.html extra_class="transparent  nav-uppercase" logo_class="logo" container_class="container"%}
  {% else %}
  {% include header.html extra_class="absolute transparent inverse-text nav-uppercase" light_logo="true"  container_class="container"%}
 {% endif %}
 {% if page.header_style == 'one' %}
 {% include header.html extra_class="absolute transparent inverse-text nav-uppercase" light_logo="true"  container_class="container"%}
 {% endif %}
{% elsif page.black_menu %}
  {% if page.header_style == 'one' %}
    {% include header.html extra_class="transparent navbar-hover-opacity nav-uppercase" logo_class="logo" container_class="container" %}
  {% else %}
    {% include header.html extra_class="transparent" logo_class="logo" container_class="container" %}
{% elsif page.header_style == 'two' %}
    {% include header.html extra_class="absolute transparent" logo_class="logo" container_class="container" %}
{% else %}
    {% include header.html extra_class="transparent" logo_class="logo" container_class="container" %}
{% endif %}
{% endif %}

{% include pages/page_header.html %}

<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-lg-8">
        <div class="blog grid grid-view">
          <div class="row isotope">
           {% for post in paginator.posts %}
            <div class="item post grid-sizer col-md-6">
             {% include post_loop.html %}
            </div>
            <!-- /.post -->
           {% endfor %}
          </div>
          <!-- /.row -->
        </div>
        <!-- /.blog -->
        {% include pagination.html %}
      </div>
      <!--/column -->
      <div class="space30 d-none d-md-block d-lg-none"></div>
      <aside class="col-lg-4 sidebar">
       {% include sidebar.html %}
      </aside>
      <!-- /column .sidebar -->
    </div>
    <!--/.row -->
  </div>
  <!-- /.container -->
</div>

{% include footer_2.html light_logo="true" %}
