---
layout: default
title: Snowlake - App Landing
custom_css: purple
custom_font: font2

slider_area:
  enable: true
  title: "Manage all your accounts, budgets and bills in one place"
  sub_title: "Snowlake is now available to download from both the App Store and Google Play Store."
  image: "/assets/images/art/iphone2.png"
  bg_image: "/assets/images/art/slider-bg6.jpg"
  buttons:
    - text: "App Store"
      url: "#"
      icon: "jam jam-apple"
      data-hoffset: "['50','50','30','0']" 

    - text: "Google Play"
      url: "#"
      icon: "jam jam-google-play"
      data-hoffset: "['225','225','205','100']" 

clients_carousel:
  enable: true
  title: "Trusted by over 50000 clients"

features_area:
  enable: true
  title: "App Features"
  sub_title: "Snowlake makes your spending stress-free for you to have the perfect control"
  features:
    - title: "Secure Payments"
      icon: "icofont-safety"
      icon_color: "blue"
      description: "Nulla vitae elit libero elit non porta gravida eget metus cras. Aenean eu leo quam vestibulum."

    - title: "Fast Transactions"
      icon: "icofont-rocket-alt-2"
      icon_color: "green"
      description: "Nulla vitae elit libero elit non porta gravida eget metus cras. Aenean eu leo quam vestibulum."

    - title: "Easy Usage"
      icon: "icofont-touch"
      icon_color: "pink"
      description: "Nulla vitae elit libero elit non porta gravida eget metus cras. Aenean eu leo quam vestibulum."

video_area:
  enable: true
  title: "How It Works"
  sub_title: "Enjoy the effortless management of your bills with intuitive features and powerful results."
  vimeo_video_id: "165101721"

two_coumns_one:
  enable: true
  title: "Why Choose Us?"
  sub_title: "Here are a few reasons why our customers choose the Snowlake app."
  image: "/assets/images/art/iphone3.png"
  lists:
    - title: "Bills & Scheduled Transactions"
      description: |
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et.
      icons: "/assets/images/icons/st-shield.png"

    - title: "Reports & Forecasting"
      description: |
        Aenean lacinia bibendum nulla sed consectetur. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum.
      icons: "/assets/images/icons/ui-bill.png"
  

    - title: "Always up to date"
      description: |
        Pellentesque ornare sem lacinia quam venenatis vestibulum. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes.
      icons: "/assets/images/icons/ms-cloud-computing.png"

about_area:
  enable: true
  title: "Join Our Community"
  sub_title: "Enjoy the effortless management of your bills with intuitive UI."
  image: "/assets/images/art/app.png"
  description: |
    Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed consectetur.

  projects:
    - title: "Transactions"
      icon: "/assets/images/icons/ui-credit-card.png"
      numbers: 7518

    - title: "Accounts"
      icon: "/assets/images/icons/sm-workers.png"
      numbers: 3472

    - title: "Reviews"
      icon: "/assets/images/icons/ui-chat.png"
      numbers: 2184

testimonials:
  enable: true
  title: "Customer Stories"
  sub_title: "Customer satisfaction is our major goal. See what our customers are saying about us."
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      image: "/assets/images/art/t5.jpg" 
      name: "Cornelia Gibson"
      designation: "Financial Analyst"
  
    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus.
      image: "/assets/images/art/t2.jpg" 
      name: "Coriss Ambady"
      designation: "Marketing Specialist"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t3.jpg" 
      name: "Barclay Widerski"
      designation: "Sales Manager"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t6.jpg" 
      name: "Barclay Widerski"
      designation: "Sales Manager"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t5.jpg" 
      name: "Jackie Sanders"
      designation: "Sales Specialist"

faq_area:
  enable: true
  title: "FAQ" 
  sub_title: |
    "If you don't see an answer to your question, you can send us an email from our contact form"
  faq:
  - question: "Can I cancel my subscription?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "Which payment methods do you accept?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "How can I manage my Account?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "Is my credit card information secure?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "How do I get my subscription receipt?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "Are there any discounts for people in need?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "Can I cancel my subscription?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "Do you offer a free trial edit?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."
  - question: "How do I reset my Account password?"
    answer: "Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Cras mattis consectetur purus sit amet fermentum. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec sed odio dui. Cras justo odio, dapibus ac facilisis."

contact_area:
  enable: true
  title: "Contact Us"
  image: "/assets/images/art/map.png"
  sub_title: |
   'Convinced yet? Let's make something great together. <br class="d-none d-lg-block">If you got any questions, don't hesitate to get in touch with us.'
  contact_data:
    - icon: "/assets/images/icons/ui-gps.png"
      info: "Moon Street Light Avenue<br> 14/05 Jupiter, JP 80630"

    - icon: "/assets/images/icons/co-telephone.png"
      info: "00 (123) 456 78 90<br/> 00 (987) 654 32 10"

    - icon: "/assets/images/icons/co-email-5.png"
      email_01: "manager@email.com"
      email_02: "asistant@email.com"
---

<div class="content-wrapper">
{% include header.html extra_class="absolute transparent inverse-text" light_logo="true" container_class="container" %}

{% if page.slider_area.enable %}
<div class="wrapper dark-wrapper">
  <div class="rev_slider_wrapper fullwidth-container">
    <div id="slider4" class="rev_slider fullwidthbanner" data-version="5.4.7">
      <ul>
        <li data-transition="fade" data-thumb="">
          <img src="assets/images/art/slider-bg6.jpg" alt="" />
    {% if page.slider_area.title %}
          <div class="tp-caption font-weight-600 color-white" 
             data-x="['left','left','left','center']" 
             data-y="middle" 
             data-hoffset="['50','50','30','0']" 
             data-voffset="['-90','-90','-90','-70']" 
             data-fontsize="['44','44','38','30']" 
             data-lineheight="['54','54','48','40']" 
             data-width="['500','500','400','340']" 
             data-textAlign="['left','left','left','center']" 
             data-whitespace="['normal','normal','normal','normal']" 
             data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;">{{page.slider_area.title}} 
        </div>
    <!-- /.tp-caption -->
    {% endif %}
	     {% if page.slider_area.sub_title %}
          <div class="tp-caption font-weight-400 color-white" 
             data-x="['left','left','left','center']" 
             data-y="middle" 
             data-hoffset="['50','50','30','0']" 
             data-voffset="['60','60','30','45']" 
             data-fontsize="['26','26','19','18']" 
             data-lineheight="['36','36','29','28']" 
             data-width="['500','500','400','340']" 
             data-textAlign="['left','left','left','center']" 
             data-whitespace="['normal','normal','normal','normal']" 
             data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
             data-responsive="on" 
             data-responsive_offset="on" style="z-index: 9;">{{page.slider_area.sub_title}} 
        </div>
    <!-- /.tp-caption -->
    {% endif %}
    {% for buttons in page.slider_area.buttons %}
    <div class="d-inline-block" data-aos="fade-up" data-aos-delay="1800">
          <a class="tp-caption btn btn-l btn-white btn-icon-left btn-strong-hover scroll" 
          data-x="['left','left','left','center']" 
          data-y="middle" 
          data-hoffset="{{buttons.data-hoffset}}" 
          data-voffset="['165','165','135','140']" 
          data-width="['auto','auto','auto','auto']" 
          data-textAlign="['center','center','center','center']" 
          data-frames='[{"delay":2500,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
          data-responsive="on" 
          data-responsive_offset="on" style="z-index: 9;" href="{{buttons.url}}"><i class="{{buttons.icon}}"></i> {{buttons.text}} 
        </a>
      </div>
    <!-- /.tp-caption -->
    {% endfor %}  
    {% if page.slider_area.image %}
          <div class="tp-caption" 
             data-x="['right','right','right','right']" 
             data-y="['bottom','bottom','bottom','bottom']" 
             data-hoffset="['100','50','0','50']" 
             data-voffset="['0','0','0','0']" 
             data-frames='[{"delay":500,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
             data-visibility="['on','on','on','off']" 
             data-width="none" 
             data-height="none" 
             data-type="image" 
             data-responsive_offset="on" style="z-index: 5;"><img 
             data-lazyload="" src="{{page.slider_area.image}}"
             data-ww="['409','409','409','409']" 
             data-hh="['550','550','550','550']" alt="{{page.slider_area.title}}" />  
        </div>
    <!-- /.tp-caption -->
    {% endif %}
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.rev_slider -->
  </div>
  <!-- /.rev_slider_wrapper -->
</div>
<!-- /.wrapper -->
{% endif %}

<div class="wrapper light-wrapper">
  <div class="container inner">
    {% if page.clients_carousel.enable %}
    <h2 class="title-color color-gray text-center">{{page.clients_carousel.title}}</h2>
    <div class="space20"></div>
      {% include clients_carousel.html %}
      <div class="space140"></div>
    <!-- /.owl-carousel -->
    {% endif %}
  	{% if page.features_area.enable %}
    <div class="features-area">
        <div class="row">
        	<div class="col-md-7 mx-auto">
		        <h2 class="title-color color-gray text-center">{{page.features_area.title}}</h2>
				<h3 class="display-3 text-center">{{page.features_area.sub_title}}</h3>
				<div class="space40"></div>
        	</div>
        </div>	
		<div class="row gutter-60 text-center">
          {% for features in page.features_area.features %}
		   <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
		  	<span class="icon icon-blob icon-blob-{{features.icon_color}} color-{{features.icon_color}} mb-30"><i class="{{features.icon}}"></i><span class="step bg-{{features.icon_color}}">{{forloop.index}}</span></span>
		    <h5>{{features.title}}</h5>
		    <p>{{features.description}}</p>
		   </div>
          {% endfor %}
		</div>
    </div>
    {% endif %}
    {% if page.video_area.enable %}
    <div class="video-area">
        <div class="row">
        	<div class="col-md-7 mx-auto">
		        <div class="space150"></div>
				<h2 class="title-color color-gray text-center">{{page.video_area.title}}</h2>
				<h3 class="display-3 mb-0 text-center">{{page.video_area.sub_title}}</h3>
        	</div>
        </div>
		<div class="space50"></div>
		<div class="row" data-aos="fade-up" data-aos-delay="300">
		  <div class="col-lg-10 offset-lg-1">
		    <div class="player" data-plyr-provider="vimeo" data-plyr-embed-id="{{page.video_area.vimeo_video_id}}"></div>
		  </div>
		</div>
    </div>
    {% endif %}
    {% if page.two_coumns_one.enable %}
    <div class="two-column-one">
    <div class="row">
    <div class="col-md-7 mx-auto">
	    <div class="space180"></div>
		<h2 class="title-color color-gray text-center">{{page.two_coumns_one.title}}</h2>
		<h3 class="display-3 mb-0 text-center">{{page.two_coumns_one.sub_title}}</h3>
		<div class="space50"></div>
    </div>
    </div>
	<div class="row align-items-center">
	  {% if page.two_coumns_one.image %}
	  <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
	    <figure><img src="{{page.two_coumns_one.image}}" alt="{{page.two_coumns_one.title}}"/></figure>
	  </div>
	  {% endif %}
	  <div class="space40 d-lg-none"></div>
	  <div class="col-lg-6 pl-60 pl-md-15">
	  {% for list in page.two_coumns_one.lists %}
    <div class="d-flex flex-row justify-content-center">
      <div>
        <div class="icon icon-svg mr-25">
          <img src="{{list.icons}}" alt="{{page.two_coumns_one.title}}">
        </div>
      </div>
    
	    <div data-aos="fade-up" data-aos-delay="800">
	      <h4>{{list.title}}</h4>
	      <p>{{list.description}}</p>
	    </div>
      </div>
       {% endfor %}
	  </div>
	</div>
	<!--/.row -->
    </div>
  {% endif %}
  </div>
</div>
<!--/counter-->
<div class="wrapper bg-opacity-default">
  <div class="container">

    {% if page.about_area.enable %}
  <div class="about-area">
    <div class="image-block-wrapper">
      {% if page.about_area.image %}
      <div class="image-block col-lg-6">
        <div class="image-block-bg bg-image" data-image-src="{{page.about_area.image}}"></div>
      </div>
      {% endif %}
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-6 offset-lg-6 pl-60 pl-md-15">
            <div class="inner d-flex">
              <div class="align-self-center">
                <h2 class="title-color color-gray">{{page.about_area.title}}</h2>
                <h3 class="display-3 mb-0">{{page.about_area.sub_title}}</h3>
                <div class="space50"></div>
                <div class="row counter counter-s">
                  {% for projects in page.about_area.projects %}
                  <div class="col-md-4">
                    {% if projects.icon %}
                    <div class="icon icon-svg mb-20">
                      <img src="{{projects.icon}}" alt="{{projects.title}}"/>
                    </div>
                    {% endif %}
                    <h3 class="value">{{projects.numbers}}</h3>
                    <p>{{projects.title}}</p>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <!-- /.box -->
          </div>
          <!--/column -->
        </div>
        <!--/.row -->
      </div>
      <!--/.container-fluid -->
    </div>
    <!--/.image-block-wrapper -->
  
  <!-- /.wrapper -->
  </div>
  {% endif %}

  </div>

</div>

<!--/counter-->
<div class="wrapper light-wrapper">
  <div class="container inner">
    <!--/testimonials-->
    {% if page.testimonials.enable %}
      <div class="testimonials-wrapper"> 
      <div class="row">
        <div class="col-md-7 mx-auto">
          {% if page.testimonials.title %}
           <h2 class="title-color color-gray text-center mb-30">{{page.testimonials.title}}</h2>
          {% endif %}
          {% if page.testimonials.sub_title %}
           <h3 class="display-3 text-center">{{page.testimonials.sub_title}}</h3>
          {% endif %}
        </div>
      </div>
      <div class="space20"></div>
      <div class="grid-view">
        <div class="carousel owl-carousel gap-small" data-margin="0" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "2"}, "1140":{"items": "3"}}'>
          {% for feedback in page.testimonials.feedback %}
          <div class="item">
            <div class="item-inner">
              <div class="bg-white shadow p-3">
                <blockquote>
                  <p>"{{feedback.quote}}"</p>
                  <div class="blockquote-details">
                    {% if feedback.image %}
                    <div class="img-blob blob1">
                      <img src="{{feedback.image}}" alt="{{feedback.name}}"/>
                    </div>
                    {% endif %}
                    <div class="info">
                      <h6 class="mb-0">{{feedback.name}}</h6>
                      <span class="meta mb-0">{{feedback.designation}}</span>
                    </div>
                  </div>
                </blockquote>
              </div>
            </div>
          </div>
          <!-- /.item -->
         {% endfor %}
        </div>
        <!-- /.owl-carousel -->
      </div>
      <!-- /.grid-view -->
      </div>
      {% endif %}
      <!--/.testimonials-->
    <div class="faq-area">
    {% if page.faq_area.enable %}
    <div class="row">
    	<div class="col-md-7 mx-auto">
		    <div class="space160"></div>
		    <h2 class="title-color color-gray text-center">{{page.faq_area.title}}</h2>
		    <h3 class="display-3 text-center">
		      {{page.faq_area.sub_title}}
		    </h3>
		    <div class="space40"></div>
    	</div>
    </div>
    <div class="row">
      <div class="col-lg-6 mb-0">
        <div id="accordion-1" class="accordion-wrapper">
          {% for faq in page.faq_area.faq  limit: "4" %}
          <div class="card">
            <div class="card-header" id="accordion-heading-1-{{forloop.index}}">
              <h5>
                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-1-{{forloop.index}}" aria-expanded="false" aria-controls="accordion-collapse-1-{{forloop.index}}">
                 {{faq.question}}
               </button>
              </h5>
            </div>
            <div id="accordion-collapse-1-{{forloop.index}}" class="collapse" aria-labelledby="accordion-heading-1-{{forloop.index}}" data-target="#accordion-{{forloop.index}}">
              <div class="card-body">
                <p>{{faq.answer}}</p>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <!--/column -->
      <div class="col-lg-6">
        <div id="accordion-2" class="accordion-wrapper">
         {% for faq in page.faq_area.faq  limit: "4" offset: "4" %}
          <div class="card shadow">
            <div class="card-header" id="accordion-heading-2-1">
              <h5>
                <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-{{forloop.index}}" aria-expanded="false" aria-controls="accordion-collapse-2-{{forloop.index}}">
                 {{faq.question}}
                </button>
              </h5>
            </div>
            <!-- /.card-header -->
            <div id="accordion-collapse-2-{{forloop.index}}" class="collapse" aria-labelledby="accordion-heading-2-{{forloop.index}}" data-target="#accordion-{{forloop.index}}">
              <div class="card-body">
                <p>{{faq.answer}}</p>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.collapse -->
          </div>
          {% endfor %}
        </div>
        <!-- /.accordion-wrapper -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    {% endif %}
    </div>
  </div>
</div>
<!--contact-->
{% if page.contact_area.enable %}
  <div class="wrapper image-wrapper bg-auto no-overlay bg-image text-center" data-image-src="{{page.contact_area.image}}">
    <div class="container inner">
      <div class="row">
        <div class="col-lg-10 offset-lg-1">
          <h2 class="title-color color-gray text-center">{{page.contact_area.title}}</h2>
          <h3 class="display-3">{{page.contact_area.sub_title}}</h3>
          <div class="space50"></div>
          <div class="row text-center gutter-60">
            {% for contact_data in page.contact_area.contact_data %}
            <div class="col-md-4">
             {% if contact_data.icon %}
              <div class="icon icon-svg mb-20">
                <img src="{{contact_data.icon}}" alt="{{contact_data.icon}}"/>
              </div>
              {% endif %}
              {% if contact_data.info %}
               <p class="mb-0">{{contact_data.info}}</p>
              {% endif %}
              {% if contact_data.email_01 %}
              <p class="mb-0"><a class="nocolor" href="mailto:{{contact_data.email_01}}">{{contact_data.email_01}}</a></p>
              {% endif %}              
              {% if contact_data.email_02 %}
              <p class="mb-0"><a class="nocolor" href="mailto:{{contact_data.email_02}}">{{contact_data.email_02}}</a></p>
              {% endif %}
            </div>
            {% endfor %}
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
  {% endif %}
{% include footer.html %}
</div>    