---
layout: default
title: Snowlake - Creative Agency
custom_css: purple
custom_font: font4

hero_area:
  enable: true
  bg_image: "/assets/images/art/slider-bg7.jpg"
  title: "Creative. Smart. Awesome."
  sub_title: "A digital & branding agency based in London"
  btn_text: "See Projects"
  btn_url: "#"

about_area: 
  enable: true
  title: "About Us"
  sub_title: "We specialize in web, mobile, brand & product design. We love to turn ideas into beautiful things."
  projects_number: 450
  project_tag: "Completed Projects"
  image: "/assets/images/art/about7.png"
  skills:
    - title: "Web Development"
      numbers: 100
      style: "pink"

    - title: "Product Design"
      numbers: 80
      style: "blue"

    - title: "Identity & Branding"
      numbers: 85
      style: "green"

    - title: "Mobile Development"
      numbers: 90
      style: "purple"

services_area:
  enable: true
  title: "Our Services"
  sub_title: "The full service we are offering is specifically designed to meet your business needs."
  description: |
    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio. Vestibulum id ligula porta felis euismod semper. Maecenas sed diam eget risus varius blandit sit amet non magna. Donec sed odio dui.
  button_text: "More Details"
  button_url: "#"
  services:
    - title: "Web Development"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida."
      icon: "icofont-code"
      bg_color: "bg-pink"

    - title: "Product Design"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida."
      icon: "icofont-magic-alt"
      bg_color: "bg-blue"

    - title: "Identity & Branding"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida."
      icon: "icofont-paint"
      bg_color: "bg-green"

    - title: "Mobile Design"
      description: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida."
      icon: "icofont-smart-phone"
      bg_color: "bg-purple"

video_area:
  enable: true
  title: "How We Do It?"
  sub_title: "Find out everything you need to know <br>about creating a business process model."
  image: "/assets/images/art/bg10.jpg"
  video_url: "https://www.youtube.com/watch?v=26TbMXXOe0I"

portfolios_area:
  enable: true
  title: "Our Portfolio"
  sub_title: "Check out some of our awesome projects"
  button_url: "#"
  button_text: "Start a Project"
  categories:
    - title: "Branding"
      filter: "branding"

    - title: "Corporate"
      filter: "corporate"

    - title: "Application"
      filter: "application"

    - title: "Video"
      filter: "video"

  portfolios:
    - title: "Fringilla Nullam"
      sub_title: "Corporate, Application"
      sm_image: "/assets/images/art/p1.jpg"
      big_image: "/assets/images/art/p1-full.jpg"
      url: "#"
      filters:
        - corporate
        - branding
    - title: "Ridiculus Parturient"
      sub_title: "Application"
      sm_image: "/assets/images/art/m2.jpg"
      big_image: "/assets/images/art/p2-full.jpg"
      url: "#"
      filters:
        - application
    - title: "Nullam Mollis"
      sub_title: "Application"
      sm_image: "/assets/images/art/m3.jpg"
      big_image: "/assets/images/art/p3-full.jpg"
      url: "#"
      filters:
        - video
    - title: "Ridiculus Parturient"
      sub_title: "Application"
      sm_image: "/assets/images/art/m4.jpg"
      big_image: "/assets/images/art/p4-full.jpg"
      url: "#"
      filters:
        - branding
    - title: "Ridiculus Tristique"
      sub_title: "Application"
      sm_image: "/assets/images/art/m5.jpg"
      big_image: "/assets/images/art/p5-full.jpg"
      url: "#"
      filters:
        - application
        - branding
    - title: "Euismod Risus"
      sub_title: "Application"
      sm_image: "/assets/images/art/m6.jpg"
      big_image: "/assets/images/art/p6-full.jpg"
      url: "#"
      filters:
        - corporate
    - title: "Sollicitudin Pharetra"
      sub_title: "Audio, Video"
      sm_image: "/assets/images/art/m7.jpg"
      big_image: "/assets/images/art/p7-full.jpg"
      url: "#"
      filters:
        - branding
    - title: "Consectetur Malesuada"
      sub_title: "Branding"
      sm_image: "/assets/images/art/m8.jpg"
      big_image: "/assets/images/art/p8-full.jpg"
      url: "#"
      filters:
        - video
    - title: "Ridiculus Parturient"
      sub_title: "Application"
      sm_image: "/assets/images/art/m9.jpg"
      big_image: "/assets/images/art/p9-full.jpg"
      url: "#"
      filters:
        - corporate
        - branding
    - title: "Ridiculus Parturient"
      sub_title: "Application"
      sm_image: "/assets/images/art/m10.jpg"
      big_image: "/assets/images/art/p10-full.jpg"
      url: "#"
      filters:
        - branding
    - title: "Ultricies Aenean"
      sub_title: "Corporate"
      sm_image: "/assets/images/art/m11.jpg"
      big_image: "/assets/images/art/p11-full.jpg"
      url: "#"
      filters:
        - branding
    - title: "Pellentesque Commodo"
      sub_title: "Branding"
      sm_image: "/assets/images/art/m12.jpg"
      big_image: "/assets/images/art/p12-full.jpg"
      url: "#"
      filters:
        - branding

completed_projects:
  enable: true
  bg_image: "/assets/images/art/bg15.jpg"
  lists: 

    - numbers: "7518" 
      title: "Completed Projects"

    - numbers: "3472" 
      title: "Satisfied Customers"

    - numbers: "2184" 
      title: "Expert Employees"

    - numbers: "4523" 
      title: "Awards Won"

testimonials:
  enable: true
  image: "/assets/images/art/about9.jpg"
  projects_number: 500
  project_tag: "Happy Customers"
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      image: "/assets/images/art/t5.jpg" 
      name: "Cornelia Gibson"
      designation: "Financial Analyst"
  
    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus.
      image: "/assets/images/art/t2.jpg" 
      name: "Coriss Ambady"
      designation: "Marketing Specialist"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      image: "/assets/images/art/t3.jpg" 
      name: "Barclay Widerski"
      designation: "Sales Manager"

clients_carousel:
  enable: true

blogs_area:
  enable: true
  title: "Our Journal"
  description: "Here are the latest posts from <br> my blog that grabbed the most attention"
  posts_number: 3

contact_area:
  enable: true
  title: "Get in Touch"
  sub_title: "Have any questions? Reach out to us from our contact form and we will get back to you shortly."
  action_email: "tortoizthemes@gmail.com"
  image: "/assets/images/art/about8.png"
  address: |
    <strong>Moonshine St. 14/05 <br>Light City, London</strong>
  forms_data: 

    - field_type: "input"
      field_name: "first_name"
      placeholder: "First Name" 
      error_message: "First Name Is required"

    - field_type: "input"
      field_name: "last_name"
      placeholder: "Last Name"
      error_message: "Last Name Is required"

    - field_type: "input"
      field_name: "last_email"
      placeholder: "Email"
      error_message: "Email Is required"

    - field_type: "input"
      field_name: "user_phone"
      placeholder: "Phone"
      error_message: "Phone Number Is required"

    - field_type: "textarea"
      field_name: "user_message"
      placeholder: "Message"
      error_message: "Message Is required"
---

{% include header.html container_class="container" extra_class="absolute transparent inverse-text navbar-hover-opacity navbar-expand-lg" light_logo= "true"%}
{% if page.hero_area.enable %}
<div class="wrapper light-wrapper">
  <div class="rev_slider_wrapper fullscreen-container">
    <div id="slider8" class="rev_slider fullscreenbanner" data-version="5.4.7">
      <ul>
        <li data-transition="fade" data-thumb="">
          <img src="{{page.hero_area.bg_image}}" alt="{{page.hero_area.title}}"/>
          <div class="tp-caption font-weight-600 color-white text-center" 
          data-x="center" 
          data-y="middle" 
          data-voffset="['-75','-75','-65','-95']" 
          data-fontsize="['50','50','35','30']" 
          data-lineheight="['65','65','50','45']" 
          data-width="['1000','1000','600','340']" 
          data-textalign="['center','center','center','center']" 
          data-whitespace="['normal','normal','normal','normal']" 
          data-frames="[{&quot;delay&quot;:1000,&quot;speed&quot;:1200,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:-50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]" 
          data-responsive="on" 
          data-responsive_offset="on" style="z-index: 9;">{{page.hero_area.title}}  
          </div>
          <div class="tp-caption font-weight-400 color-white text-center" 
          data-x="center" data-y="middle" 
          data-voffset="['0','0','0','0']" 
          data-fontsize="['26','26','26','20']" 
          data-lineheight="['36','36','36','30']" 
          data-width="['1000','1000','600','340']" 
          data-textalign="['center','center','center','center']" 
          data-whitespace="['normal','normal','normal','normal']"
          data-frames="[{&quot;delay&quot;:1500,&quot;speed&quot;:1200,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;x:-50px;opacity:0;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;auto:auto;&quot;,&quot;ease&quot;:&quot;Power3.easeInOut&quot;}]"
          data-responsive="on" 
          data-responsive_offset="on" 
          style="z-index: 9;">{{page.hero_area.sub_title}}
          </div>
          <a class="tp-caption btn btn-l btn-white btn-strong-hover scroll" 
               data-x="center" 
               data-y="middle" 
               data-voffset="['85','85','85','85']" 
               data-width="['auto','auto','auto','auto']" 
               data-textAlign="['center','center','center','center']" 
               data-frames='[{"delay":1500,"speed":1500,"frame":"0","from":"z:0;rX:0;rY:0;rZ:0;sX:0.7;sY:0.7;skX:0;skY:0;opacity:0;","to":"o:1;","ease":"Power4.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]' 
               data-responsive="on" 
               data-responsive_offset="on" style="z-index: 9;" href="{{page.hero_area.btn_url}}"> {{page.hero_area.btn_text}}
          </a>
        </li>
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.rev_slider -->
  </div>
  <!-- /.rev_slider_wrapper -->
</div>
<!-- /.wrapper -->
{% endif %}


<div class="wrapper light-wrapper">
  <div class="container inner">
    {% if page.about_area.enable %}
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2 text-center">
          <div>
            {% if page.about_area.image %}
            <figure>
              <img src="{{page.about_area.image}}" alt="{{page.about_area.title}}"/>
            </figure>
            {% endif %}
            <div class="row counter counter-s position-absolute" style="top: 45%; right: 8%;">
              <div class="col-md-10 text-center">
                <div class="box bg-white shadow">
                  {% if page.about_area.projects_number %}
                   <h3><span class="value">{{page.about_area.projects_number}}</span>+</h3>
                  {% endif %}
                  {% if page.about_area.project_tag %}
                   <p>{{page.about_area.project_tag}}</p>
                  {% endif %}
                </div>
                <!--/.box -->
              </div>
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
        </div>
        <!--/column -->
        <div class="space30 d-none d-md-block d-lg-none"></div>
        <div class="col-lg-6 pr-60 pr-md-15">
          {% if page.about_area.title %}
           <h2 class="section-title mb-20">{{ page.about_area.title }}</h2>
          {% endif %}
          {% if  page.about_area.sub_title %}
           <p class="lead larger">{{page.about_area.sub_title}}</p>
          {% endif %}
          <div class="space20"></div>
          <ul class="progress-list">
            {% for skills in page.about_area.skills %}
            <li>
              <p>{{skills.title}}</p>
              <div class="progressbar line {{skills.style}}" data-value="{{skills.numbers}}"></div>
            </li>
            {% endfor %}
          </ul>
          <!-- /.progress-list -->
        </div>
        <!--/column -->
      </div>
      <!--/.row --> 
      {% endif %}
  </div>
</div>
<!--wrapper About Us-->
<div class="wrapper light-wrapper">
  <div class="container inner">
    {% if page.services_area.enable %}
    <div class="services-wrapper">
      <div class="row align-items-center">
        <div class="col-xl-6 order-lg-2 pl-60 pl-md-15">
          {% if page.services_area.title %}
          <h2 class="section-title">{{page.services_area.title}}</h2>
          {% endif %}
          {% if page.services_area.sub_title %}
          <p class="lead larger">{{page.services_area.sub_title}}</p>
          {% endif %}
          <div class="space20"></div>
          {% if page.services_area.description %}
          <p>{{page.services_area.description}}</p>
          {% endif %}
          {% if page.services_area.button_text %}
          <div class="space20"></div>
          <a href="{{page.services_area.button_url}}" class="btn">{{page.services_area.button_text}}</a>
          {% endif %}
        </div>
        <!--/column -->
        <div class="space50 d-none d-md-block d-xl-none"></div>
        <div class="col-xl-6 text-center grid">
          <div class="row isotope">
            {% for service in page.services_area.services %}
            {% assign check_index = forloop.index | modulo: 2 %}
            {% unless check_index == 1 %}
            <div class="col-md-6 item grid-sizer">
              <div class="space30"></div>
              <div class="box {{service.bg_color}} shadow inverse-text">
                {% if service.icon %}
                <div class="icon color-white fs-42 mb-20">
                  <i class="{{service.icon}}"></i>
                </div>
                {% endif %}
                <h5>{{service.title}}</h5>
                <p>{{service.description}}</p>
              </div>
              <!--/.box -->
            </div>
            <!--/column -->
            {% else %}
            <div class="col-md-6 item grid-sizer">
              {% unless forloop.index == 1 %}
              <div class="space30 d-none d-md-block"></div>
              {% endunless %}
              <div class="box {{service.bg_color}} shadow inverse-text">
                {% if service.icon %}
                <div class="icon color-white fs-42 mb-20">
                  <i class="{{service.icon}}"></i>
                </div>
                {% endif %}
                <h5>{{service.title}}</h5>
                <p>{{service.description}}</p>
              </div>
              <!--/.box -->
            </div>
            <!--/column -->
            {% endunless %}
            {% endfor %}
          </div>
          <!--/.row -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    {% endif %}
  </div>
</div>
<!--wrapper video CTA-->
{% if page.video_area.enable %}
  <div class="video-area">
  <div class="wrapper image-wrapper bg-image gradient-overlay inverse-text" data-image-src="{{page.video_area.image}}">
    <div class="container inner pt-140 pb-140 text-center">
      <div class="row">
        <div class="col-md-7 mx-auto">
          <h2 class="section-title text-center">{{page.video_area.title}}</h2>
          <p class="lead larger text-center">{{page.video_area.sub_title}}</p>
          <div class="space10"></div>
          <div class="light-gallery-wrapper">
            <a href="{{page.video_area.video_url}}" class="btn-play lightbox"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  {% endif %}
<!--/.wrapper video CTA-->
<!--wrapper portfolio-->
{% if page.portfolios_area.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <h2 class="section-title text-center">
      {{page.portfolios_area.title}}
    </h2>
    <p class="lead larger text-center">
      {{page.portfolios_area.sub_title}}
    </p>
    <div class="space30"></div>
    <div class="grid grid-view boxed">
      <div class="isotope-filter text-center">
        <ul>
          <li><a class="button active" data-filter="*">All</a></li>
          {% for category in page.portfolios_area.categories %}
           <li><a class="button" data-filter=".{{category.filter}}">{{category.title}}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="clearfix"></div>
      <div class="tiles text-center light-gallery-wrapper">
        <div class="row isotope">
          {% for portfolio in  page.portfolios_area.portfolios %}
          <div class="item grid-sizer col-md-6 col-lg-4 {% for filter in portfolio.filters %} {{filter}} {% endfor %}">
            <div class="box bg-white shadow p-30">
              <figure class="main overlay overlay2 rounded mb-30">
                <a href="{{portfolio.big_image}}" class="lightbox"> 
                  <img src="{{portfolio.sm_image}}" alt="{{portfolio.title}}"/>
                </a>
              </figure>
              <div class="post-content">
                <h2 class="post-title mb-10"><a href="{{portfolio.url}}">{{portfolio.title}}</a></h2>
                <div class="meta mb-0">{{portfolio.sub_title}}</div>
              </div>
              <!-- /.post-content -->
            </div>
            <!-- /.box -->
          </div>
          <!-- /.item -->
          {% endfor %}
        </div>
        <!-- /.row -->
      </div>
      <!-- /.tiles -->
    </div>
    <!-- /.grid -->
    <div class="space20"></div>
    <div class="text-center">
      <a href="{{page.portfolios_area.button_url}}" class="btn btn-1 btn-default mb-0">{{page.portfolios_area.button_text}}</a>
      
    </div>
  </div>
</div>
{% endif %}
<!--/.wrapper portfolio-->
<!--wrapper testimonial-->
{% if page.completed_projects.enable %}
<div class="wrapper image-wrapper bg-image inverse-text" data-image-src="{{page.completed_projects.bg_image}}">
  <div class="container inner text-center">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="row counter">
          {% for list in page.completed_projects.lists %}
          <div class="col-md-3 text-center">
            <h3 class="value">{{list.numbers}}</h3>
            <p><strong>{{list.title}}</strong></p>
          </div>
          {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
    <div class="space120"></div>
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}
<div class="wrapper overflow-top bleed-s">
  <div class="container inner pt-0">
  	{% if page.testimonials.enable %}
    <div class="grid-view">
      <div class="carousel owl-carousel gap-small" data-margin="0" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "2"}, "1140":{"items": "3"}}'>
      {% for feedback in page.testimonials.feedback %}
        <div class="item">
          <div class="item-inner">
            <div class="box bg-white shadow">
                <blockquote>
                  <p>"{{feedback.quote}}"</p>
                  <div class="blockquote-details">
                    {% if feedback.image %}
                    <div class="img-blob blob1">
                      <img src="{{feedback.image}}" alt="{{feedback.name}}"/>
                    </div>
                    {% endif %}
                    <div class="info">
                      <h6 class="mb-0">{{feedback.name}}</h6>
                      <span class="meta mb-0">{{feedback.designation}}</span>
                    </div>
                  </div>
                </blockquote>
            </div>
            <!-- /.box -->
          </div>
          <!-- /.item-inner -->
        </div>
        <!-- /.item -->
        {% endfor %}
      </div>
      <!-- /.owl-carousel -->
    </div>
    <!-- /.grid-view -->
    {% endif %}
    {% if page.clients_carousel.enable %}
    <div class="space80"></div>
      {% include clients_carousel.html %}
    </div>
    <!-- /.owl-carousel -->
    {% endif %}
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->

<!--/.wrapper testimonial-->
<!--wrapper Blog-->
{% if page.blogs_area.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <h2 class="section-title text-center">
      {{page.blogs_area.title}}
    </h2>
    <p class="lead larger text-center">
      {{page.blogs_area.description}}
    </p>
    <div class="space20"></div>
    <div class="grid-view">
      <div class="carousel owl-carousel gap-small" data-margin="30" data-dots="true" data-autoplay="false" data-autoplay-timeout="5000" data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "992":{"items": "3"}}'>
        {% for post in site.posts %}
        {% assign trending = post.trending %}
        {% unless trending %}
        <div class="item">
              {% if post.post_image %}
              <figure class="overlay overlay1 rounded mb-30">
                <a href="{{post.url}}"> <img class="post-thumb" src="{{post.post_image}}" alt="{{post.title}}"/></a>
                <figcaption>
                  <h5 class="from-top mb-0 text-uppercase">Read More</h5>
                </figcaption>
              </figure>
              {% endif %}
              <div class="category"><a href="/category/{{post.categories[0] | slugify}}" class="badge {{post.badge_color}} badge-pill bg-leaf">{{post.categories[0]}}</a></div>
              <h2 class="post-title"><a href="{{post.url}}">{{post.title}}</a></h2>
              <div class="meta mb-0"><span class="date">
                <i class="jam jam-clock"></i>{{post.date | date_to_string}}</span>
                {% if post.author %}
                 <span class="comments"><a href="/authors/{{post.author | slugify}}"><i class="jam jam-user"></i> {{post.author}}</a></span>
                {% endif %}
              </div>
         
        </div>
        {% endunless %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endif %}
<!--/.wrapper blog-->
<!--wrapper Contact Us-->
{% if page.contact_area.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row align-items-start">
      <div class="col-lg-6">
        <div>
          {% if page.contact_area.image %}
           <figure><img src="{{page.contact_area.image}}" alt="{{page.contact_area.title}}"/></figure>
          {% endif %}
          <div class="box bg-default color-white shadow p-30 position-absolute" style="top: 73%; left: 10%;">
            {% if page.contact_area.address %}
             <address>{{page.contact_area.address}}</address>
            {% endif %}
            <a href="mailto:{{page.contact_area.action_email}}" class="nocolor">{{page.contact_area.action_email}}</a><br />{{site.data.general_settings.phone_number}}</div>
          <!--/.box -->
        </div>
      </div>
      <!--/column -->
      <div class="space80 d-lg-none"></div>
      <div class="col-lg-6 pl-60 pl-md-15">
        {% if page.contact_area.title %}
         <h2 class="section-title">{{page.contact_area.title}}</h2>
        {% endif %}
        {% if page.contact_area.sub_title %}
        <p class="lead larger">{{page.contact_area.sub_title}}</p>
        {% endif %}
        <div class="space30"></div>
            <form id="contact-form" class="fields-white" action="https://formsubmit.io/send/{{page.contact_area.action_email}}">
              <div class="messages"></div>
              <div class="controls">
                <div class="form-row">
                  {% for forms_data in page.contact_area.forms_data %}
                  {% if forms_data.field_type == "input" %}
                    <div class="col-md-6">
                      <div class="form-group">
                        <input id="{{forms_data.field_name}}" type="text" name="{{forms_data.field_name}}" class="form-control" placeholder="{{forms_data.placeholder}} *" required="required" data-error="{{forms_data.error_message}}">
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                   {% else if forms_data.field_type == "textarea" %}
                    <div class="col-md-12">
                      <div class="form-group">
                        <textarea id="{{forms_data.field_name}}" name="{{forms_data.field_name}}" class="form-control" placeholder="{{forms_data.placeholder}} *" rows="4" required="required" data-error="{{forms_data.error_message}}"></textarea>
                        <div class="help-block with-errors"></div>
                      </div>
                    </div>
                     {% endif %}
                  {% endfor %}
                </div>
                <div class="form-row">
                  <div class="col-md-12">
                    <input type="submit" class="btn btn-send" value="Send message">
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-12">
                    <p class="text-muted mb-0"><strong>*</strong> These fields are required.</p>
                  </div>
                </div>
              </div>
            </form>
            <!-- /form -->
      </div>
      <!--/column -->
    </div>
    <!--/.row -->
    <div class="space40"></div>
  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}





  {% include footer_3.html light_logo="true" %}
