---
layout: default
title: Snowlake - Startup Business
custom_css: purple
custom_font: 

slider_area:
  enable: true
  button_text: "See Projects"
  button_url: "#"
  sliders:

    - img: "/assets/images/art/slider-bg1.jpg"
      title:
        - heading:  "Bringing Ideas to Life Making Life Easier"
          x: "center"
          y: "middle"
          voffset: |
            ['-100','-100','-90','-70']
          hoffset:
          fontsize: | 
            ['65','65','50','35']
          lineheight: | 
            ['80','80','65','50']
          width: | 
            ['800','800','600','340']
          textAlign: |
            ['center','center','center','center']
          whitespace: |
            ['normal','normal','normal','normal']  
      sub_title:
        - subheading: "We love to turn ideas into beautiful things"
          x: "center"
          y: "middle"
          voffset: |
            ['25','25','25','25']
          fontsize: |
            ['26','26','26','20']
          lineheight: |
            ['36','36','36','30']
          width: |
            ['1000','1000','600','340']
          textAlign: |
            ['center','center','center','center']
          wightspace: |
            ['normal','normal','normal','normal']  
      button:
        - text: "See Projects"
          url: "#"
          x: "center"
          y: "middle"
          voffset: |
            ['115','115','115','115']
          hoffset:
          width: |
            ['auto','auto','auto','auto']
          textAlign: |
            ['center','center','center','center']
    - img: "/assets/images/art/slider-bg2.jpg"
      title:
        - heading:  "Sit Back & Relax"
          x: |
            ['left','left','center','center']
          y: "middle"
          
          hoffset: |
            ['550','450','0','0']
          voffset: |
            ['-100','-100','-100','-90']
          fontsize: | 
            ['65','65','50','35']
          lineheight: | 
            ['80','80','65','50']
          width: | 
            ['900','900','680','340']
          textAlign: |
            ['left','left','center','center']
          whitespace: |
            ['normal','normal','normal','normal']  
      sub_title:
        - subheading: "We have carefully considered and designed our solutions to support every stage of your growth."
          x: "['left','left','center','center']"
          y: "middle"
          voffset: |
            ['0','0','0','0']
          hoffset: |
            ['550','450','0','0']
          fontsize: |
            ['26','26','26','20']
          lineheight: |
            ['36','36','36','30']
          width: |
            ['600','600','600','340']
          textAlign: |
            ['left','left','center','center']
          whitespace: |
            ['normal','normal','normal','normal']
      button:
        - text: "Get Started"
          url: "#"
          x: "center"
          y: "middle"
          voffset: |
            ['90','90','90','90']
          hoffset:
          width: |
            ['auto','auto','auto','auto']
          textAlign: |
            ['center','center','center','center']
    - img: "/assets/images/art/slider-bg3.jpg"
      title:
        - heading:  "Snowlake is a Creative Team"
          x: "center"
          y: "middle"
          voffset: |
            ['-85','-85','-85','-95']
          hoffset:
          fontsize: | 
            ['65','65','50','35']
          lineheight: | 
            ['80','80','65','50']
          width: | 
            ['900','900','680','340']
          textAlign: |
            ['center','center','center','center']
          whitespace: |
            ['normal','normal','normal','normal']  
      sub_title:
        - subheading: "Specializing in Branding, Motion & Mobile Application"
          x: "center"
          y: "middle"
          voffset: |
            ['0','0','0','0']
          fontsize: |
            ['26','26','26','20']
          lineheight: |
            ['36','36','36','30']
          width: |
            ['900','900','680','340']
          textAlign: |
            ['center','center','center','center']
          wightspace: |
            ['normal','normal','normal','normal']  
      button:
        - text: "Contact Us"
          url: "#"
          x: |
            ['left','left','center','center']
          y: "middle"
          voffset: |
            ['105','105','105','105']
          hoffset: |
            ['550','450','0','0']
          width: |
            ['auto','auto','auto','auto']
          textAlign: |
            ['left','left','center','center']

clients_carousel:
  enable: true
  title: "We are creative company that values quality not quantity and focuses on establishing long-term relationships with clients."

services_area:
  enable: true
  title: |
    The full service we are offering is specifically <br class="d-none d-lg-block">designed to meet your business needs.
  services: 
    - title: "24/7 Support"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "/assets/images/icons/hs-24-hours-1.png" 

    - title: "Secure Payments"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "/assets/images/icons/st-payment-method.png" 

    - title: "Daily Updates"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "/assets/images/icons/ms-cloud-computing.png" 

    - title: "Research & Marketing"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "/assets/images/icons/of-diagram.png" 

    - title: "System Integration"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "/assets/images/icons/sm-setting.png"

    - title: "SEO Service"
      sub_title: "Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo odio. Cum sociis natoque penatibus magnis dis."
      icon: "/assets/images/icons/de-earth-globe-3.png"
projects_area:
  enable: true
  title: "Our Projects"
  sub_title: "Check out some of our awesome projects with creative ideas and great design."
  button_text: "See All Works"
  button_url: "#"
  projects:
    - image: "/assets/images/art/pp4-1.jpg"
      url: "#"
    - image: "/assets/images/art/pp4-2.jpg"
      url: "#"
    - image: "/assets/images/art/fp8.jpg"
      url: "#"
    - image: "/assets/images/art/fp14.jpg"
      url: "#"
    - image: "/assets/images/art/fp6.jpg"
      url: "#"
    - image: "/assets/images/art/fp13.jpg"
      url: "#"
teams_carousel:
  enable: true
  title: |
    Save your time and money <br class="d-none d-lg-block"> by choosing our professional team.

testimonials:
  enable: true
  image: "/assets/images/art/woman.png"
  feedback:

    - quote: |
        Sed posuere consectetur est at lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis mollis, est non commodo luctus, nisi erat.
      name: "Cornelia Gibson"
      designation: "Financial Analyst"
  
    - quote: |
        Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum id ligula porta felis euismod semper. Cras justo odio, dapibus. 
      name: "Coriss Ambady"
      designation: "Marketing Specialist"
  
    - quote: |
        Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras justo odio, dapibus ac facilisis in, egestas eget.
      name: "Barclay Widerski"
      designation: "Sales Manager"

pricing_table:
  enable: true
  title: "Our Pricing"
  sub_title: |
    We offer great prices, premium products <br class="d-none d-lg-block" />and quality service for your business.
  plans:
    - title: "Basic Pricing"
      monthly_price: 9
      yearly_price: 99
      pricing_url: "#"
      icon: "/assets/images/icons/ec-mobile.png"
      features:
        - "<strong>1</strong> Project"
        - "<strong>100K</strong> API Access"
        - "<strong>100MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Premium Plan"
      monthly_price: 19
      yearly_price: 199
      pricing_url: "#"
      icon: "/assets/images/icons/ec-store.png"
      features:
        - "<strong>5</strong> Project"
        - "<strong>200K</strong> API Access"
        - "<strong>250MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

    - title: "Corporate Plan"
      monthly_price: 49
      yearly_price: 499
      pricing_url: "#"
      icon: "/assets/images/icons/ec-online-shop.png"
      features:
        - "<strong>49</strong> Project"
        - "<strong>300K</strong> API Access"
        - "<strong>500MB</strong> Storage"
        - "Custom <strong>Cloud</strong> Services"
        - "Weekly <strong>Reports</strong>"
        - "7/24 <strong>Support</strong>"

contact_area:
  enable: true
  title: "Contact Us"
  image: "/assets/images/art/map.png"
  sub_title: |
   'Convinced yet? Let's make something great together. <br class="d-none d-lg-block">If you got any questions, don't hesitate to get in touch with us.'
  contact_data:
    - icon: "/assets/images/icons/ui-gps.png"
      info: "Moon Street Light Avenue<br> 14/05 Jupiter, JP 80630"

    - icon: "/assets/images/icons/co-telephone.png"
      info: "00 (123) 456 78 90<br/> 00 (987) 654 32 10"

    - icon: "/assets/images/icons/co-email-5.png"
      email_01: "manager@email.com"
      email_02: "asistant@email.com"

---

{% include header.html extra_class="absolute transparent inverse-text navbar-hover-opacity" light_logo="true" %}

<div class="wrapper dark-wrapper">
  <div class="rev_slider_wrapper fullscreen-container">
    <div id="slider" class="rev_slider fullscreenbanner" data-version="5.4.7">
      <ul>
        {% for slider in page.slider_area.sliders %}
        <li data-transition="fade" data-thumb="">
          <img src="{{slider.img}}" alt="{{slider.title.heading}}" />
          {% for title in slider.title %}
          <div class="tp-caption font-weight-500 color-white 
          {% cycle 'text-center', '', '' ,'text-center' %}" data-x="{{title.x}}" data-y="{{title.y}}"
            data-voffset="{{title.voffset}}" data-hoffset="{{title.hoffset}}" data-fontsize="{{title.fontsize}}"
            data-lineheight="{{title.lineheight}}" data-width="{{title.width}}" data-textAlign="{{title.textAlign}}"
            data-whitespace="{{title.whitespace}}"
            data-frames='[{"delay":1000,"speed":1200,"frame":"0","from":"y:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
            data-responsive="on" data-responsive_offset="on" style="z-index: 9;"> {{title.heading}}
          </div>
          {% endfor %}
          <!-- /.tp-caption -->
          {% for sub_title in slider.sub_title %}
          <div class="tp-caption font-weight-400 color-white {% cycle 'text-center', '','text-center' %}"
            data-x="{{sub_title.x}}" data-y="{{sub_title.y}}" data-voffset="{{sub_title.voffset}}"
            data-hoffset="{{sub_title.hoffset}}" data-fontsize="{{sub_title.fontsize}}"
            data-lineheight="{{sub_title.lineheight}}" data-width="{{sub_title.width}}"
            data-textAlign="{{sub_title.textAlign}}" data-whitespace="{{sub_title.whitespace}}"
            data-frames='[{"delay":1500,"speed":1200,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"auto:auto;","ease":"Power3.easeInOut"}]'
            data-responsive="on" data-responsive_offset="on" style="z-index: 9;"> {{sub_title.subheading}}
          </div>
          {% endfor %}
          {% for button in slider.button %}
          <!-- /.tp-caption -->
          <a class="tp-caption btn btn-l btn-white btn-strong-hover scroll" data-x="{{button.x}}" data-y="{{button.y}}"
            data-voffset="{{button.voffset}}" data-hoffset="{{button.hoffset}}" data-width="{{button.width}}"
            data-textAlign="{{button.textAlign}}"
            data-frames='[{"delay":2000,"speed":1200,"frame":"0","from":"y:50px;opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
            data-responsive="on" data-responsive_offset="on" style="z-index: 9;" href="{{button.url}}"> {{button.text}}
          </a>
          <!-- /.tp-caption -->
          {% endfor %}
        </li>
        {% endfor %}
      </ul>
      <div class="tp-bannertimer tp-bottom"></div>
    </div>
    <!-- /.rev_slider -->
  </div>
</div>
  <!-- Brand Wrapper-->
  <div class="wrapper light-wrapper">
    <div class="container inner pb-50">
      {% if page.clients_carousel.enable %}
      <h2 class="display-3 text-center">{{page.clients_carousel.title}}</h2>
      <div class="space40"></div>
      {% include clients_carousel.html %}
      <div class="space140"></div>
      <!-- /.owl-carousel -->
      {% endif %}
    </div>
  </div>
  <!-- /.Brand Wrapper-->
  <!-- Features Wrapper-->
  {% if page.services_area.enable %}
  <div class="wrapper light-wrapper">
    <div class="container inner pb-50">
      <h3 class="display-3 text-center">We are creative company that values quality not quantity and focuses on
        establishing long-term relationships with clients.</h3>
      <div class="space40"></div>

      <div class="row text-center">
        {% for services in page.services_area.services %}

        {% assign loopindex = forloop.index %}

        {% if loopindex == 3 %}
        <div class="space30 d-none d-md-block d-lg-none"></div>
        {% elsif loopindex == 4 %}
        <div class="space30 d-none d-lg-block"></div>
        {% elsif loopindex == 5 %}
        <div class="space30 d-none d-md-block d-lg-none"></div>
        {% endif %}
        <div class="col-md-6 col-lg-4">
          <div class="box bg-white shadow shadow-hover">
            <div class="icon icon-svg mb-20"><img src="{{services.icon}}" alt=""></div>
            <h5>{{services.title}}</h5>
            <p>Nulla vitae elit libero, a pharetra augue. Donec id elit non mi porta gravida at eget metus. Cras justo
              odio donec elit.</p>
          </div>
          <!--/.box -->
        </div>
        <!--/column -->
        {% endfor %}
      </div>
    </div>
  </div>
  {% endif %}
  <!-- /.Features Wrapper-->
  <!--Projects Wrapper-->
  {% if page.projects_area.enable %}
  <div class="wrapper white-wrapper">
    <div class="container inner pb-50">
      {% if page.projects_area.title %}
      <h2 class="title-color color-gray">{{page.projects_area.title}}</h2>
      {% endif %}
      <div class="row align-items-center">
        {% if page.projects_area.sub_title %}
        <div class="col-md-7">
          <h3 class="display-3 mb-0">{{page.projects_area.sub_title}}</h3>
        </div>
        {% endif %}
        {% if page.projects_area.button_text %}
        <div class="col-md-3 ml-auto text-right">
          <a href="{{page.projects_area.button_url}}" class="btn btn-default m-0">{{page.projects_area.button_text}}</a>
        </div>
        {% endif %}
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
    <div class="container-fluid pl-30 pr-30">
      <div class="grid-view">
        <div class="carousel owl-carousel" data-margin="30" data-dots="true" data-autoplay="false"
          data-autoplay-timeout="5000"
          data-responsive='{"0":{"items": "1"}, "768":{"items": "2"}, "1441":{"items": "3"}}'>
          {% for project in page.projects_area.projects %}
          <div class="item">
            <figure class="rounded">
              <img src="{{project.image}}" alt="{{project.title}}" />
              <a class="item-link" href="{{project.url}}"><i class="jam jam-link"></i></a>
            </figure>
          </div>
          {% endfor %}
        </div>
        <!-- /.owl-carousel -->
      </div>
      <!-- /.grid-view -->
    </div>
    <!-- /.container-fluid -->
    <div class="space140"></div>
  </div>
  <!-- /.wrapper -->
  {% endif %}
  <!---/.projects Wrapper-->
  <!-- Team Wrapper -->
  <div class="wrapper light-wrapper">
    <div class="container inner">
      <h3 class="display-3 text-center">{{page.teams_carousel.title}}</h3>
      <div class="space40"></div>
      <div class="grid-view">
        {% include teams_carousel.html %}
      </div>
    </div>
  </div>
  <!-- /.Team Wrapper -->
  <!--testimonial wrapper-->
  {% include divider.html %}
  {% if page.testimonials.enable %}
  <div class="wrapper bg-opacity-default">
    <div class="container inner pb-0">
      <div class="row align-items-center">
        {% if page.testimonials.image %}
        <div class="col-md-5 col-lg-4 offset-lg-1 d-none d-md-flex">
          <figure><img src="{{page.testimonials.image}}" alt="{{page.testimonials.image}}"></figure>
        </div>
        {% endif %}
        <div class="col-md-7 col-lg-6 pl-60 pl-md-15">
          <div class="basic-slider owl-carousel gap-small dots-left" data-margin="30">
            {% for quote in page.testimonials.feedback %}
            <div class="item">
              <blockquote class="icon icon-left larger text-left">
                <p>"{{quote.quote}}"</p>
                <div class="blockquote-details">
                  <div class="info p-0">
                    <h6 class="mb-0">{{quote.name}}</h6>
                    <span class="meta mb-0">{{quote.designation}}</span>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- /.item -->
            {% endfor %}
          </div>
          <!-- /.owl-carousel -->
          <div class="space20 d-lg-none"></div>
          <div class="space60 d-md-none"></div>
        </div>
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.wrapper -->
  {% endif %}

  <!--/.testimonial wrapper-->
  <!-- pricing wrapper-->
  <div class="wrapper light-wrapper">
    <div class="container inner">
      {% assign pricing_data = page.pricing_table %}
      {% if pricing_data.enable %}

      <h2 class="title-color color-gray text-center">{{pricing_data.title}}</h2>
      <h3 class="display-3 text-center">{{pricing_data.sub_title}}</h3>
      <div class="space40"></div>
      <div class="pricing-wrapper">
        <div class="pricing-switcher-wrapper switcher">
          <div class="pricing-switchers">
            <div class="pricing-switcher pricing-switcher-active">Monthly</div>
            <div class="pricing-switcher">Yearly</div>
            <div class="switcher-button bg-default"></div>
          </div>
        </div>
        <div class="space60"></div>
        <div class="row no-gutters">
          {% for pricing in pricing_data.plans %}
          <div class="col-md-4 {% cycle '', 'popular', '' %}">
            <div class="pricing panel box bg-white shadow">
              <div class="panel-heading">
                <div class="icon icon-svg mb-10"><img src="{{pricing.icon}}" alt="{{pricing.title}}" /></div>
                <h4 class="panel-title mb-35">{{pricing.title}}</h4>
                <div class="prices color-dark">
                  <div class="price price-show"><span class="price-currency">$</span><span
                      class="price-value">{{pricing.monthly_price}}</span> <span class="price-duration">month</span>
                  </div>
                  <div class="price price-hide price-hidden"><span class="price-currency">$</span><span
                      class="price-value">{{pricing.yearly_price}}</span> <span class="price-duration">year</span></div>
                </div>
              </div>
              <!--/.panel-heading -->
              <div class="panel-body">
                <table class="table">
                  {% for features in pricing.features %}
                  <tr>
                    <td>{{features}}</td>
                  </tr>
                  {% endfor %}
                </table>
              </div>
              <!--/.panel-body -->
              <div class="panel-footer">
                <a href="{{pricing.pricing_url}}" class="btn" role="button">Choose Plan</a>
              </div>
            </div>
            <!--/.pricing -->
          </div>
          {% endfor %}
        </div>
        <!--/.row -->
      </div>
      <!--/.pricing-wrapper -->
      <!-- /.container -->
      {% endif %}
    </div>
    <!--/.pricing wrapper-->
    <!-- Footer Wrapper-->
    <!--contact-->
    {% if page.contact_area.enable %}
    <div class="wrapper image-wrapper bg-auto no-overlay bg-image text-center"
      data-image-src="{{page.contact_area.image}}">
      <div class="container inner">
        <div class="row">
          <div class="col-lg-10 offset-lg-1">
            <h2 class="title-color color-gray text-center">{{page.contact_area.title}}</h2>
            <h3 class="display-3">{{page.contact_area.sub_title}}</h3>
            <div class="space50"></div>
            <div class="row text-center gutter-60">
              {% for contact_data in page.contact_area.contact_data %}
              <div class="col-md-4">
                {% if contact_data.icon %}
                <div class="icon icon-svg mb-20">
                  <img src="{{contact_data.icon}}" alt="{{contact_data.icon}}" />
                </div>
                {% endif %}
                {% if contact_data.info %}
                <p class="mb-0">{{contact_data.info}}</p>
                {% endif %}
                {% if contact_data.email_01 %}
                <p class="mb-0"><a class="nocolor" href="mailto:{{contact_data.email_01}}">{{contact_data.email_01}}</a>
                </p>
                {% endif %}
                {% if contact_data.email_02 %}
                <p class="mb-0"><a class="nocolor" href="mailto:{{contact_data.email_02}}">{{contact_data.email_02}}</a>
                </p>
                {% endif %}
              </div>
              {% endfor %}
              <!--/column -->
            </div>
            <!--/.row -->
          </div>
          <!-- /column -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
    <!-- /.wrapper -->
    {% endif %}
    <div class="space120"></div>
    <!--/.footer Wrapper-->
    <!-- /.wrapper -->
    {% include divider.html %}
    {% include footer_2.html extra_class="bg-opacity-default" %}