<li class="dropdown cart-dropdown position-static nav-item pl-0">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="jam jam-shopping-cart"></i>
    <span class="badge-cart bg-default">3</span>
  </a>
  <div class="dropdown-menu dropdown-menu dropdown-menu-right cart-dropdown-menu inverse-text">
    <h5 class="mb-30">Shopping Cart</h5>
    <ul class="image-list">
      <li>
        <figure class="rounded">
          <a href="#"><img src="/assets/images/art/a4.jpg" alt=""/></a>
        </figure>
        <div class="post-content">
          <h6 class="post-title">
            <a href="#">Brand Box</a>
          </h6>
          <div class="meta price">
            <em class="quantity">1</em>
            <span class="amount">$45.00</span>
          </div>
        </div>
      </li>
      <li>
        <figure class="rounded">
          <a href="#"><img src="/assets/images/art/a5.jpg" alt=""/></a>
        </figure>
        <div class="post-content">
          <h6 class="post-title">
            <a href="#">Shopping Bag</a>
          </h6>
          <div class="meta price">
            <em class="quantity">2</em>
            <span class="amount">$45.00</span>
          </div>
        </div>
      </li>
      <li>
        <figure class="rounded">
          <a href="#"><img src="/assets/images/art/a6.jpg" alt=""/></a>
        </figure>
        <div class="post-content">
          <h6 class="post-title">
            <a href="#">Brown Paper Card</a>
          </h6>
          <div class="meta price">
            <em class="quantity">1</em>
            <span class="amount">$45.00</span>
          </div>
        </div>
      </li>
    </ul>
    <!-- /.image-list -->
    <div class="space30"></div>
    <div class="row align-items-center">
      <div class="col-md-4">
        <h6>Total:</h6>
        <div class="meta price mb-0">
          <span class="amount">$45.00</span>
        </div>
      </div>
      <!--/column -->
      <div class="col-md-8 text-md-right">
        <a href="#" class="btn btn-default mb-0">Checkout</a>
      </div>
      <!--/column -->
    </div>
  </div>
</li>
