<div class="sidebox widget">
  <h3 class="widget-title">Search</h3>
  <form class="search-form fields-white">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search something">
    </div>
    <!-- /.form-group -->
  </form>
  <!-- /.search-form -->
</div>
<!-- /.widget -->
<div class="sidebox widget">
  <h3 class="widget-title">About Me</h3>
  <figure class="rounded mb-20"><img src="/assets/images/art/f1.jpg" alt="" /></figure>
  <p>Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum. Nulla vitae elit libero, a pharetra augue. Donec id elit.</p>
  <ul class="social social-color social-s">
    <li><a href="#"><i class="jam jam-twitter"></i></a></li>
    <li><a href="#"><i class="jam jam-facebook"></i></a></li>
    <li><a href="#"><i class="jam jam-pinterest"></i></a></li>
    <li><a href="#"><i class="jam jam-vimeo"></i></a></li>
    <li><a href="#"><i class="jam jam-instagram"></i></a></li>
  </ul>
  <div class="clearfix"></div>
</div>
<!-- /.widget -->
<div class="sidebox widget">
  <h3 class="widget-title">Popular Posts</h3>
  <ul class="image-list">
    <li>
      <figure class="rounded"><a href="blog-post.html"><img src="/assets/images/art/a10.jpg" alt="" /></a></figure>
      <div class="post-content">
        <h6 class="post-title"> <a href="blog-post.html">Magna Mollis Ultricies</a> </h6>
        <div class="meta"><span class="date"><i class="jam jam-clock"></i>12 Nov 2017</span><span class="comments"><i class="jam jam-message-alt"></i><a href="#">4</a></span></div>
      </div>
    </li>
    <li>
      <figure class="rounded"> <a href="blog-post.html"><img src="/assets/images/art/a11.jpg" alt="" /></a></figure>
      <div class="post-content">
        <h6 class="post-title"> <a href="blog-post.html">Ornare Nullam Risus Cursus</a> </h6>
        <div class="meta"><span class="date"><i class="jam jam-clock"></i>12 Nov 2017</span><span class="comments"><i class="jam jam-message-alt"></i><a href="#">4</a></span></div>
      </div>
    </li>
    <li>
      <figure class="rounded"><a href="blog-post.html"><img src="/assets/images/art/a12.jpg" alt="" /></a></figure>
      <div class="post-content">
        <h6 class="post-title"> <a href="blog-post.html">Euismod Nullam Fusce</a> </h6>
        <div class="meta"><span class="date"><i class="jam jam-clock"></i>12 Nov 2017</span><span class="comments"><i class="jam jam-message-alt"></i><a href="#">4</a></span></div>
      </div>
    </li>
  </ul>
  <!-- /.image-list -->
</div>
<!-- /.widget -->
<div class="sidebox widget">
  <h3 class="widget-title">Categories</h3>
  <ul class="icon-list">
    <li class="bullet-default"><i class="jam jam-chevron-right"></i><a href="#">Lifestyle (21)</a></li>
    <li class="bullet-default"><i class="jam jam-chevron-right"></i><a href="#">Photography (19)</a></li>
    <li class="bullet-default"><i class="jam jam-chevron-right"></i><a href="#">Journal (16)</a></li>
    <li class="bullet-default"><i class="jam jam-chevron-right"></i><a href="#">Works (7)</a></li>
    <li class="bullet-default"><i class="jam jam-chevron-right"></i><a href="#">Conceptual (12)</a></li>
    <li class="bullet-default"><i class="jam jam-chevron-right"></i><a href="#">Videography (14)</a></li>
  </ul>
</div>
<!-- /.widget -->
<div class="sidebox widget">
  <h3 class="widget-title">Tags</h3>
  <ul class="list-unstyled tag-list">
    <li><a href="#" class="btn btn-s">Still Life</a></li>
    <li><a href="#" class="btn btn-s">Urban</a></li>
    <li><a href="#" class="btn btn-s">Nature</a></li>
    <li><a href="#" class="btn btn-s">Landscape</a></li>
    <li><a href="#" class="btn btn-s">Macro</a></li>
    <li><a href="#" class="btn btn-s">Fun</a></li>
    <li><a href="#" class="btn btn-s">Workshop</a></li>
    <li><a href="#" class="btn btn-s">Photography</a></li>
  </ul>
</div>
<!-- /.widget -->
<div class="sidebox widget">
  <h3 class="widget-title">Archive</h3>
  <ul class="icon-list">
    <li class="bullet-default"><i class="jam jam-chevron-right"></i><a href="#">February 2019</a></li>
    <li class="bullet-default"><i class="jam jam-chevron-right"></i><a href="#">January 2019</a></li>
    <li class="bullet-default"><i class="jam jam-chevron-right"></i><a href="#">December 2018</a></li>
    <li class="bullet-default"><i class="jam jam-chevron-right"></i><a href="#">November 2018</a></li>
    <li class="bullet-default"><i class="jam jam-chevron-right"></i><a href="#">October 2018</a></li>
  </ul>
</div>
<!-- /.widget -->